@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Almarai:wght@300;400;700;800&family=Georama:wght@300;400;500;600;700&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: "Montserrat", sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none{
  pointer-events: none;
}

.pointer-events-auto{
  pointer-events: auto;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  inset: 0px;
}

.inset-6{
  inset: 1.5rem;
}

.inset-y-0{
  top: 0px;
  bottom: 0px;
}

.-bottom-6{
  bottom: -1.5rem;
}

.-left-6{
  left: -1.5rem;
}

.-right-4{
  right: -1rem;
}

.-right-6{
  right: -1.5rem;
}

.-top-6{
  top: -1.5rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-1{
  bottom: 0.25rem;
}

.bottom-6{
  bottom: 1.5rem;
}

.bottom-\[-80px\]{
  bottom: -80px;
}

.left-0{
  left: 0px;
}

.left-2{
  left: 0.5rem;
}

.left-\[-75px\]{
  left: -75px;
}

.left-\[max\(1rem\2c calc\(\(100vw-1280px\)\/2\+1rem\)\)\]{
  left: max(1rem, calc((100vw - 1280px) / 2 + 1rem));
}

.right-0{
  right: 0px;
}

.right-2{
  right: 0.5rem;
}

.right-5{
  right: 1.25rem;
}

.right-\[-20px\]{
  right: -20px;
}

.right-\[-60px\]{
  right: -60px;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-2{
  top: 0.5rem;
}

.top-\[70px\]{
  top: 70px;
}

.top-\[85\%\]{
  top: 85%;
}

.top-\[calc\(50\%-25px\)\]{
  top: calc(50% - 25px);
}

.top-full{
  top: 100%;
}

.-z-10{
  z-index: -10;
}

.z-0{
  z-index: 0;
}

.z-10{
  z-index: 10;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.z-\[0\]{
  z-index: 0;
}

.z-\[1\]{
  z-index: 1;
}

.z-\[300\]{
  z-index: 300;
}

.z-\[70\]{
  z-index: 70;
}

.z-\[90\]{
  z-index: 90;
}

.order-1{
  order: 1;
}

.order-2{
  order: 2;
}

.order-3{
  order: 3;
}

.order-4{
  order: 4;
}

.order-5{
  order: 5;
}

.order-6{
  order: 6;
}

.order-7{
  order: 7;
}

.order-8{
  order: 8;
}

.mx-6{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.-ml-px{
  margin-left: -1px;
}

.-mt-px{
  margin-top: -1px;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-auto{
  margin-left: auto;
}

.ms-1{
  margin-inline-start: 0.25rem;
}

.ms-6{
  margin-inline-start: 1.5rem;
}

.ms-auto{
  margin-inline-start: auto;
}

.mt-1{
  margin-top: 0.25rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-24{
  margin-top: 6rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-\[140px\]{
  margin-top: 140px;
}

.mt-\[70px\]{
  margin-top: 70px;
}

.mt-\[8rem\]{
  margin-top: 8rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.aspect-video{
  aspect-ratio: 16 / 9;
}

.h-0\.5{
  height: 0.125rem;
}

.h-1{
  height: 0.25rem;
}

.h-10{
  height: 2.5rem;
}

.h-12{
  height: 3rem;
}

.h-16{
  height: 4rem;
}

.h-20{
  height: 5rem;
}

.h-24{
  height: 6rem;
}

.h-32{
  height: 8rem;
}

.h-4{
  height: 1rem;
}

.h-40{
  height: 10rem;
}

.h-44{
  height: 11rem;
}

.h-5{
  height: 1.25rem;
}

.h-56{
  height: 14rem;
}

.h-6{
  height: 1.5rem;
}

.h-7{
  height: 1.75rem;
}

.h-8{
  height: 2rem;
}

.h-\[0\.95em\]{
  height: 0.95em;
}

.h-\[100dvh\]{
  height: 100dvh;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[10rem\]{
  height: 10rem;
}

.h-\[20rem\]{
  height: 20rem;
}

.h-\[215px\]{
  height: 215px;
}

.h-\[220\%\]{
  height: 220%;
}

.h-\[250px\]{
  height: 250px;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[350px\]{
  height: 350px;
}

.h-\[3px\]{
  height: 3px;
}

.h-\[70px\]{
  height: 70px;
}

.h-\[75vh\]{
  height: 75vh;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-max{
  height: -moz-max-content;
  height: max-content;
}

.h-px{
  height: 1px;
}

.h-screen{
  height: 100vh;
}

.max-h-0{
  max-height: 0px;
}

.max-h-\[450px\]{
  max-height: 450px;
}

.max-h-\[650px\]{
  max-height: 650px;
}

.min-h-\[350px\]{
  min-height: 350px;
}

.min-h-screen{
  min-height: 100vh;
}

.w-10{
  width: 2.5rem;
}

.w-12{
  width: 3rem;
}

.w-16{
  width: 4rem;
}

.w-20{
  width: 5rem;
}

.w-24{
  width: 6rem;
}

.w-32{
  width: 8rem;
}

.w-4{
  width: 1rem;
}

.w-40{
  width: 10rem;
}

.w-5{
  width: 1.25rem;
}

.w-6{
  width: 1.5rem;
}

.w-64{
  width: 16rem;
}

.w-7{
  width: 1.75rem;
}

.w-8{
  width: 2rem;
}

.w-\[0\.95em\]{
  width: 0.95em;
}

.w-\[10rem\]{
  width: 10rem;
}

.w-\[170px\]{
  width: 170px;
}

.w-\[24px\]{
  width: 24px;
}

.w-\[250px\]{
  width: 250px;
}

.w-\[25rem\]{
  width: 25rem;
}

.w-\[28rem\]{
  width: 28rem;
}

.w-\[2px\]{
  width: 2px;
}

.w-\[50\%\]{
  width: 50%;
}

.w-auto{
  width: auto;
}

.w-full{
  width: 100%;
}

.w-max{
  width: -moz-max-content;
  width: max-content;
}

.w-screen{
  width: 100vw;
}

.min-w-\[100vw\]{
  min-width: 100vw;
}

.min-w-full{
  min-width: 100%;
}

.max-w-2xl{
  max-width: 42rem;
}

.max-w-3xl{
  max-width: 48rem;
}

.max-w-7xl{
  max-width: 80rem;
}

.max-w-\[1280px\]{
  max-width: 1280px;
}

.max-w-\[1344px\]{
  max-width: 1344px;
}

.max-w-\[17rem\]{
  max-width: 17rem;
}

.max-w-\[26rem\]{
  max-width: 26rem;
}

.max-w-\[40rem\]{
  max-width: 40rem;
}

.max-w-\[650px\]{
  max-width: 650px;
}

.max-w-lg{
  max-width: 32rem;
}

.max-w-xl{
  max-width: 36rem;
}

.flex-shrink-0{
  flex-shrink: 0;
}

.origin-top{
  transform-origin: top;
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-2{
  --tw-translate-y: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-full{
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-0{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-12{
  --tw-translate-x: 3rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-6{
  --tw-translate-x: 1.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[110\%\]{
  --tw-translate-x: 110%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-2{
  --tw-translate-y: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-6{
  --tw-translate-y: 1.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-full{
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45{
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-\[15deg\]{
  --tw-rotate: -15deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-0{
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[-15deg\]{
  --tw-rotate: -15deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[1\.5deg\]{
  --tw-rotate: 1.5deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[90deg\]{
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-75{
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[0\.98\]{
  --tw-scale-x: 0.98;
  --tw-scale-y: 0.98;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform-gpu{
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-1{
  gap: 0.25rem;
}

.gap-1\.5{
  gap: 0.375rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-12{
  gap: 3rem;
}

.gap-16{
  gap: 4rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-x-4{
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-y-2{
  row-gap: 0.5rem;
}

.space-y-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.self-start{
  align-self: flex-start;
}

.self-end{
  align-self: flex-end;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-\[5px\]{
  border-radius: 5px;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-sm{
  border-radius: 0.125rem;
}

.rounded-t-2xl{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-\[1px\]{
  border-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-b-\[1px\]{
  border-bottom-width: 1px;
}

.border-b-\[2px\]{
  border-bottom-width: 2px;
}

.border-t-\[2px\]{
  border-top-width: 2px;
}

.border-\[\#294830\]{
  --tw-border-opacity: 1;
  border-color: rgb(41 72 48 / var(--tw-border-opacity, 1));
}

.border-\[\#294830\]\/10{
  border-color: rgb(41 72 48 / 0.1);
}

.border-\[\#294830\]\/15{
  border-color: rgb(41 72 48 / 0.15);
}

.border-\[\#294830\]\/20{
  border-color: rgb(41 72 48 / 0.2);
}

.border-\[\#37593f\]{
  --tw-border-opacity: 1;
  border-color: rgb(55 89 63 / var(--tw-border-opacity, 1));
}

.border-\[\#c3a967\]{
  --tw-border-opacity: 1;
  border-color: rgb(195 169 103 / var(--tw-border-opacity, 1));
}

.border-\[\#ddca98\]{
  --tw-border-opacity: 1;
  border-color: rgb(221 202 152 / var(--tw-border-opacity, 1));
}

.border-white\/60{
  border-color: rgb(255 255 255 / 0.6);
}

.bg-\[\#294830\]{
  --tw-bg-opacity: 1;
  background-color: rgb(41 72 48 / var(--tw-bg-opacity, 1));
}

.bg-\[\#294830\]\/10{
  background-color: rgb(41 72 48 / 0.1);
}

.bg-\[\#294830\]\/15{
  background-color: rgb(41 72 48 / 0.15);
}

.bg-\[\#294830\]\/25{
  background-color: rgb(41 72 48 / 0.25);
}

.bg-\[\#335d44\]{
  --tw-bg-opacity: 1;
  background-color: rgb(51 93 68 / var(--tw-bg-opacity, 1));
}

.bg-\[\#39613c1f\]{
  background-color: #39613c1f;
}

.bg-\[\#655a3e\]\/30{
  background-color: rgb(101 90 62 / 0.3);
}

.bg-\[\#b6a162\]{
  --tw-bg-opacity: 1;
  background-color: rgb(182 161 98 / var(--tw-bg-opacity, 1));
}

.bg-\[\#c3a967\]{
  --tw-bg-opacity: 1;
  background-color: rgb(195 169 103 / var(--tw-bg-opacity, 1));
}

.bg-\[\#c3a967\]\/15{
  background-color: rgb(195 169 103 / 0.15);
}

.bg-\[\#c3a967\]\/30{
  background-color: rgb(195 169 103 / 0.3);
}

.bg-\[\#c3a967\]\/70{
  background-color: rgb(195 169 103 / 0.7);
}

.bg-\[\#c8ac6814\]{
  background-color: #c8ac6814;
}

.bg-\[\#c8ac68\]{
  --tw-bg-opacity: 1;
  background-color: rgb(200 172 104 / var(--tw-bg-opacity, 1));
}

.bg-\[\#d6e1d2\]{
  --tw-bg-opacity: 1;
  background-color: rgb(214 225 210 / var(--tw-bg-opacity, 1));
}

.bg-\[\#e5ebe2\]{
  --tw-bg-opacity: 1;
  background-color: rgb(229 235 226 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ecf3e7\]{
  --tw-bg-opacity: 1;
  background-color: rgb(236 243 231 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ecf3e7\]\/95{
  background-color: rgb(236 243 231 / 0.95);
}

.bg-\[\#eff3e7\]{
  --tw-bg-opacity: 1;
  background-color: rgb(239 243 231 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f3f7ef\]{
  --tw-bg-opacity: 1;
  background-color: rgb(243 247 239 / var(--tw-bg-opacity, 1));
}

.bg-\[\#f8f6f2\]{
  --tw-bg-opacity: 1;
  background-color: rgb(248 246 242 / var(--tw-bg-opacity, 1));
}

.bg-black\/15{
  background-color: rgb(0 0 0 / 0.15);
}

.bg-black\/30{
  background-color: rgb(0 0 0 / 0.3);
}

.bg-black\/40{
  background-color: rgb(0 0 0 / 0.4);
}

.bg-current{
  background-color: currentColor;
}

.bg-green-500{
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/10{
  background-color: rgb(255 255 255 / 0.1);
}

.bg-\[\#e3ebe2\]\/15{
  background-color: rgb(227 235 226 / 0.15);
}

.bg-\[linear-gradient\(110deg\2c rgba\(36\2c 58\2c 42\2c 0\.39\)_0\%\2c rgba\(36\2c 58\2c 42\2c 0\.44\)_36\%\2c rgba\(36\2c 58\2c 42\2c 0\.36\)_62\%\2c rgba\(36\2c 58\2c 42\2c 0\.08\)_100\%\)\]{
  background-image: linear-gradient(110deg,rgba(36,58,42,0.39) 0%,rgba(36,58,42,0.44) 36%,rgba(36,58,42,0.36) 62%,rgba(36,58,42,0.08) 100%);
}

.bg-\[linear-gradient\(to_top\2c rgba\(15\2c 26\2c 17\2c 0\.52\)_0\%\2c rgba\(15\2c 26\2c 17\2c 0\.2\)_35\%\2c rgba\(15\2c 26\2c 17\2c 0\)_65\%\)\]{
  background-image: linear-gradient(to top,rgba(15,26,17,0.52) 0%,rgba(15,26,17,0.2) 35%,rgba(15,26,17,0) 65%);
}

.bg-\[radial-gradient\(circle_at_top_right\2c _rgba\(195\2c 169\2c 103\2c 0\.22\)\2c _transparent_58\%\)\]{
  background-image: radial-gradient(circle at top right, rgba(195,169,103,0.22), transparent 58%);
}

.bg-gradient-to-r{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#294830\]{
  --tw-gradient-from: #294830 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(41 72 48 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#39613c\]{
  --tw-gradient-to: #39613c var(--tw-gradient-to-position);
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2{
  padding: 0.5rem;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-0{
  padding-bottom: 0px;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-12{
  padding-bottom: 3rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pb-24{
  padding-bottom: 6rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pe-2{
  padding-inline-end: 0.5rem;
}

.pe-3{
  padding-inline-end: 0.75rem;
}

.pe-8{
  padding-inline-end: 2rem;
}

.pl-4{
  padding-left: 1rem;
}

.ps-1{
  padding-inline-start: 0.25rem;
}

.pt-16{
  padding-top: 4rem;
}

.pt-2{
  padding-top: 0.5rem;
}

.pt-24{
  padding-top: 6rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-8{
  padding-top: 2rem;
}

.pt-\[-2px\]{
  padding-top: -2px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-start{
  text-align: start;
}

.align-\[-0\.08em\]{
  vertical-align: -0.08em;
}

.font-almarai{
  font-family: "Almarai", sans-serif;
}

.font-baskervville{
  font-family: "Baskervville", serif;
}

.font-georama{
  font-family: "Georama", sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[13px\]{
  font-size: 13px;
}

.text-\[2\.3rem\]{
  font-size: 2.3rem;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.leading-\[0\.98\]{
  line-height: 0.98;
}

.leading-none{
  line-height: 1;
}

.leading-relaxed{
  line-height: 1.625;
}

.leading-tight{
  line-height: 1.25;
}

.tracking-\[-0\.01em\]{
  letter-spacing: -0.01em;
}

.tracking-\[0\.01em\]{
  letter-spacing: 0.01em;
}

.tracking-\[0\.02em\]{
  letter-spacing: 0.02em;
}

.tracking-\[0\.03em\]{
  letter-spacing: 0.03em;
}

.tracking-\[0\.12em\]{
  letter-spacing: 0.12em;
}

.tracking-\[0\.1em\]{
  letter-spacing: 0.1em;
}

.tracking-\[0\.22em\]{
  letter-spacing: 0.22em;
}

.tracking-\[0\.2em\]{
  letter-spacing: 0.2em;
}

.tracking-\[0\.3em\]{
  letter-spacing: 0.3em;
}

.text-\[\#0f3d37\]{
  --tw-text-opacity: 1;
  color: rgb(15 61 55 / var(--tw-text-opacity, 1));
}

.text-\[\#151515f0\]{
  color: #151515f0;
}

.text-\[\#294830\]{
  --tw-text-opacity: 1;
  color: rgb(41 72 48 / var(--tw-text-opacity, 1));
}

.text-\[\#294830\]\/60{
  color: rgb(41 72 48 / 0.6);
}

.text-\[\#294830\]\/80{
  color: rgb(41 72 48 / 0.8);
}

.text-\[\#294830\]\/85{
  color: rgb(41 72 48 / 0.85);
}

.text-\[\#294830\]\/90{
  color: rgb(41 72 48 / 0.9);
}

.text-\[\#37593f\]{
  --tw-text-opacity: 1;
  color: rgb(55 89 63 / var(--tw-text-opacity, 1));
}

.text-\[\#c3a967\]{
  --tw-text-opacity: 1;
  color: rgb(195 169 103 / var(--tw-text-opacity, 1));
}

.text-\[\#ddca98\]{
  --tw-text-opacity: 1;
  color: rgb(221 202 152 / var(--tw-text-opacity, 1));
}

.text-\[\#e6e9e5\]{
  --tw-text-opacity: 1;
  color: rgb(230 233 229 / var(--tw-text-opacity, 1));
}

.text-\[\#ecf3e7\]{
  --tw-text-opacity: 1;
  color: rgb(236 243 231 / var(--tw-text-opacity, 1));
}

.text-\[\#f5ffee\]{
  --tw-text-opacity: 1;
  color: rgb(245 255 238 / var(--tw-text-opacity, 1));
}

.text-\[\#f9fff4\]{
  --tw-text-opacity: 1;
  color: rgb(249 255 244 / var(--tw-text-opacity, 1));
}

.text-\[\#fffffff0\]{
  color: #fffffff0;
}

.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-slate-600{
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.text-slate-700{
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-white\/85{
  color: rgb(255 255 255 / 0.85);
}

.text-white\/90{
  color: rgb(255 255 255 / 0.9);
}

.opacity-0{
  opacity: 0;
}

.opacity-10{
  opacity: 0.1;
}

.opacity-100{
  opacity: 1;
}

.opacity-20{
  opacity: 0.2;
}

.opacity-80{
  opacity: 0.8;
}

.shadow-2xl{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-2xl{
  --tw-blur: blur(40px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-3xl{
  --tw-blur: blur(64px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow{
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-\[0_0_14px_rgba\(195\2c 169\2c 103\2c 0\.28\)\]{
  --tw-drop-shadow: drop-shadow(0 0 14px rgba(195,169,103,0.28));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-\[0_0_16px_rgba\(255\2c 255\2c 255\2c 0\.16\)\]{
  --tw-drop-shadow: drop-shadow(0 0 16px rgba(255,255,255,0.16));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-\[0_0_18px_rgba\(195\2c 169\2c 103\2c 0\.22\)\]{
  --tw-drop-shadow: drop-shadow(0 0 18px rgba(195,169,103,0.22));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-\[0_5px_5px_rgba\(0\2c 0\2c 0\2c 0\.4\)\]{
  --tw-drop-shadow: drop-shadow(0 5px 5px rgba(0,0,0,0.4));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[1px\]{
  --tw-backdrop-blur: blur(1px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-\[2px\]{
  --tw-backdrop-blur: blur(2px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[transform\2c box-shadow\]{
  transition-property: transform,box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-700{
  transition-duration: 700ms;
}

.ease-\[cubic-bezier\(0\.2\2c 0\.9\2c 0\.2\2c 1\)\]{
  transition-timing-function: cubic-bezier(0.2,0.9,0.2,1);
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes bounce-subtle {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }
}

.\[overflow-clip-margin\:unset\]{
  overflow-clip-margin: unset;
}

.first\:rounded-t-lg:first-child{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.last\:rounded-b-lg:last-child{
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.hover\:-translate-y-0\.5:hover{
  --tw-translate-y: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-105:hover{
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-110:hover{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-\[\#c3a967\]:hover{
  --tw-border-opacity: 1;
  border-color: rgb(195 169 103 / var(--tw-border-opacity, 1));
}

.hover\:border-\[\#c3a967\]\/50:hover{
  border-color: rgb(195 169 103 / 0.5);
}

.hover\:bg-\[\#294830\]\/5:hover{
  background-color: rgb(41 72 48 / 0.05);
}

.hover\:bg-\[\#c3a967\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(195 169 103 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#c3a967\]\/15:hover{
  background-color: rgb(195 169 103 / 0.15);
}

.hover\:bg-\[\#d4b978\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(212 185 120 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#ecf3e7\]:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(236 243 231 / var(--tw-bg-opacity, 1));
}

.hover\:bg-black\/55:hover{
  background-color: rgb(0 0 0 / 0.55);
}

.hover\:bg-green-600:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
}

.hover\:bg-white\/20:hover{
  background-color: rgb(255 255 255 / 0.2);
}

.hover\:text-\[\#294830\]:hover{
  --tw-text-opacity: 1;
  color: rgb(41 72 48 / var(--tw-text-opacity, 1));
}

.hover\:text-\[\#c3a967\]:hover{
  --tw-text-opacity: 1;
  color: rgb(195 169 103 / var(--tw-text-opacity, 1));
}

.hover\:text-\[\#c5a572\]:hover{
  --tw-text-opacity: 1;
  color: rgb(197 165 114 / var(--tw-text-opacity, 1));
}

.hover\:opacity-80:hover{
  opacity: 0.8;
}

.hover\:shadow-lg:hover{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-xl:hover{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:brightness-105:hover{
  --tw-brightness: brightness(1.05);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.hover\:brightness-95:hover{
  --tw-brightness: brightness(.95);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.focus\:border-\[\#c3a967\]:focus{
  --tw-border-opacity: 1;
  border-color: rgb(195 169 103 / var(--tw-border-opacity, 1));
}

.focus\:ring-2:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-\[\#c3a967\]\/20:focus{
  --tw-ring-color: rgb(195 169 103 / 0.2);
}

.disabled\:cursor-not-allowed:disabled{
  cursor: not-allowed;
}

.disabled\:opacity-40:disabled{
  opacity: 0.4;
}

.disabled\:opacity-80:disabled{
  opacity: 0.8;
}

.disabled\:hover\:bg-black\/40:hover:disabled{
  background-color: rgb(0 0 0 / 0.4);
}

.group:hover .group-hover\:visible{
  visibility: visible;
}

.group:hover .group-hover\:-translate-x-1{
  --tw-translate-x: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.group:disabled .group-disabled\:opacity-100{
  opacity: 1;
}

.group:disabled .group-disabled\:opacity-90{
  opacity: 0.9;
}

.peer:checked ~ .peer-checked\:border-\[\#c3a967\]{
  --tw-border-opacity: 1;
  border-color: rgb(195 169 103 / var(--tw-border-opacity, 1));
}

.peer:checked ~ .peer-checked\:bg-\[\#c3a967\]\/10{
  background-color: rgb(195 169 103 / 0.1);
}

.peer:checked ~ .peer-checked\:opacity-100{
  opacity: 1;
}

@media (min-width: 640px){
  .sm\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .sm\:aspect-\[8\/6\]{
    aspect-ratio: 8/6;
  }

  .sm\:h-16{
    height: 4rem;
  }

  .sm\:h-28{
    height: 7rem;
  }

  .sm\:h-56{
    height: 14rem;
  }

  .sm\:h-64{
    height: 16rem;
  }

  .sm\:h-\[15rem\]{
    height: 15rem;
  }

  .sm\:h-\[250px\]{
    height: 250px;
  }

  .sm\:h-screen{
    height: 100vh;
  }

  .sm\:max-h-none{
    max-height: none;
  }

  .sm\:min-h-\[600px\]{
    min-height: 600px;
  }

  .sm\:w-16{
    width: 4rem;
  }

  .sm\:w-\[200px\]{
    width: 200px;
  }

  .sm\:w-max{
    width: -moz-max-content;
    width: max-content;
  }

  .sm\:max-w-none{
    max-width: none;
  }

  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:gap-28{
    gap: 7rem;
  }

  .sm\:gap-5{
    gap: 1.25rem;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:pb-12{
    padding-bottom: 3rem;
  }

  .sm\:pe-0{
    padding-inline-end: 0px;
  }

  .sm\:pt-4{
    padding-top: 1rem;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 768px){
  .md\:right-\[40px\]{
    right: 40px;
  }

  .md\:top-\[40px\]{
    top: 40px;
  }

  .md\:order-1{
    order: 1;
  }

  .md\:order-2{
    order: 2;
  }

  .md\:mt-20{
    margin-top: 5rem;
  }

  .md\:block{
    display: block;
  }

  .md\:hidden{
    display: none;
  }

  .md\:aspect-\[10\/11\]{
    aspect-ratio: 10/11;
  }

  .md\:h-10{
    height: 2.5rem;
  }

  .md\:h-\[125px\]{
    height: 125px;
  }

  .md\:h-\[15rem\]{
    height: 15rem;
  }

  .md\:h-\[20rem\]{
    height: 20rem;
  }

  .md\:h-\[255px\]{
    height: 255px;
  }

  .md\:h-\[72px\]{
    height: 72px;
  }

  .md\:max-h-\[450px\]{
    max-height: 450px;
  }

  .md\:w-10{
    width: 2.5rem;
  }

  .md\:w-48{
    width: 12rem;
  }

  .md\:w-\[15rem\]{
    width: 15rem;
  }

  .md\:w-\[20rem\]{
    width: 20rem;
  }

  .md\:w-\[210px\]{
    width: 210px;
  }

  .md\:w-\[72px\]{
    width: 72px;
  }

  .md\:max-w-3xl{
    max-width: 48rem;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:justify-start{
    justify-content: flex-start;
  }

  .md\:justify-end{
    justify-content: flex-end;
  }

  .md\:gap-12{
    gap: 3rem;
  }

  .md\:gap-16{
    gap: 4rem;
  }

  .md\:rounded-2xl{
    border-radius: 1rem;
  }

  .md\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .md\:rounded-t-3xl{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

  .md\:p-5{
    padding: 1.25rem;
  }

  .md\:p-8{
    padding: 2rem;
  }

  .md\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md\:pb-8{
    padding-bottom: 2rem;
  }

  .md\:pt-28{
    padding-top: 7rem;
  }

  .md\:text-left{
    text-align: left;
  }

  .md\:text-right{
    text-align: right;
  }

  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px){
  .lg\:inset-8{
    inset: 2rem;
  }

  .lg\:left-\[max\(1\.5rem\2c calc\(\(100vw-1280px\)\/2\+1\.5rem\)\)\]{
    left: max(1.5rem, calc((100vw - 1280px) / 2 + 1.5rem));
  }

  .lg\:right-\[-80px\]{
    right: -80px;
  }

  .lg\:top-\[95px\]{
    top: 95px;
  }

  .lg\:order-1{
    order: 1;
  }

  .lg\:order-2{
    order: 2;
  }

  .lg\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:my-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .lg\:mb-12{
    margin-bottom: 3rem;
  }

  .lg\:ms-0{
    margin-inline-start: 0px;
  }

  .lg\:ms-auto{
    margin-inline-start: auto;
  }

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:mt-7{
    margin-top: 1.75rem;
  }

  .lg\:mt-\[95px\]{
    margin-top: 95px;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:aspect-\[16\/11\]{
    aspect-ratio: 16/11;
  }

  .lg\:aspect-\[16\/9\]{
    aspect-ratio: 16/9;
  }

  .lg\:aspect-\[4\/3\]{
    aspect-ratio: 4/3;
  }

  .lg\:h-12{
    height: 3rem;
  }

  .lg\:h-14{
    height: 3.5rem;
  }

  .lg\:h-20{
    height: 5rem;
  }

  .lg\:h-6{
    height: 1.5rem;
  }

  .lg\:h-\[150px\]{
    height: 150px;
  }

  .lg\:h-\[20rem\]{
    height: 20rem;
  }

  .lg\:h-\[215px\]{
    height: 215px;
  }

  .lg\:h-\[600px\]{
    height: 600px;
  }

  .lg\:h-\[95px\]{
    height: 95px;
  }

  .lg\:max-h-\[750px\]{
    max-height: 750px;
  }

  .lg\:min-h-\[700px\]{
    min-height: 700px;
  }

  .lg\:w-12{
    width: 3rem;
  }

  .lg\:w-14{
    width: 3.5rem;
  }

  .lg\:w-20{
    width: 5rem;
  }

  .lg\:w-6{
    width: 1.5rem;
  }

  .lg\:w-72{
    width: 18rem;
  }

  .lg\:w-\[170px\]{
    width: 170px;
  }

  .lg\:w-\[20rem\]{
    width: 20rem;
  }

  .lg\:w-\[30\%\]{
    width: 30%;
  }

  .lg\:w-\[70\%\]{
    width: 70%;
  }

  .lg\:max-w-5xl{
    max-width: 64rem;
  }

  .lg\:translate-x-8{
    --tw-translate-x: 2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:scale-90{
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-\[1\.15fr_0\.85fr\]{
    grid-template-columns: 1.15fr 0.85fr;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-start{
    align-items: flex-start;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:gap-0{
    gap: 0px;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:gap-16{
    gap: 4rem;
  }

  .lg\:gap-24{
    gap: 6rem;
  }

  .lg\:gap-4{
    gap: 1rem;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:space-y-5 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }

  .lg\:rounded-2xl{
    border-radius: 1rem;
  }

  .lg\:rounded-3xl{
    border-radius: 1.5rem;
  }

  .lg\:rounded-\[2rem\]{
    border-radius: 2rem;
  }

  .lg\:rounded-t-\[2rem\]{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .lg\:bg-\[\#ecf3e7\]{
    --tw-bg-opacity: 1;
    background-color: rgb(236 243 231 / var(--tw-bg-opacity, 1));
  }

  .lg\:p-10{
    padding: 2.5rem;
  }

  .lg\:p-3{
    padding: 0.75rem;
  }

  .lg\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:px-28{
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .lg\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .lg\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-28{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:pb-28{
    padding-bottom: 7rem;
  }

  .lg\:pb-4{
    padding-bottom: 1rem;
  }

  .lg\:pt-36{
    padding-top: 9rem;
  }

  .lg\:pt-6{
    padding-top: 1.5rem;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px){
  .xl\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }

  .xl\:ms-0{
    margin-inline-start: 0px;
  }

  .xl\:block{
    display: block;
  }

  .xl\:h-16{
    height: 4rem;
  }

  .xl\:h-\[230px\]{
    height: 230px;
  }

  .xl\:w-16{
    width: 4rem;
  }

  .xl\:w-\[185px\]{
    width: 185px;
  }

  .xl\:grid-cols-\[1\.1fr_1fr_1fr\]{
    grid-template-columns: 1.1fr 1fr 1fr;
  }

  .xl\:gap-12{
    gap: 3rem;
  }

  .xl\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

